<div style="text-align:center;color:white;">
    <a href="/Home/Index" style="color:white;">Home</a>&nbsp;&nbsp;
    <a href="/OnlineMath/Index" style="color:white;">OnlineMath</a>&nbsp;&nbsp;
    <a href="/OnlineMath/MathRecords" style="color:white;">MathRecords</a>
    <a href="/OnlineMath/GenerateMath" style="color:white;">GenerateMath</a>
</div>